<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing | Major Project</title>
</head>
<body>
    <h1><%= indilisiting.title %></h1>
    <ul>
        <li><%= indilisiting.description %></li>
        <li><%= indilisiting.price %></li>
        <li><%= indilisiting.location %></li>
        <li><%= indilisiting.country %></li>
        <li><%= indilisiting._id %></li>
    </ul>
    <a href="/listing/<%= indilisiting._id %>/edit">Edit Details</a>
</body>
</html>